# virtual environment python files and subfolders
.venv/
.env
.env/
venv/
env/
pipfile
pipfile.lock
.envrc

# python
include
lib
bin
.Python

# visual studio code
.vscode/

# Windows thumbnails and links
Thumbs.db
._*
*.lnk

# macOS
.DS_Store

# backups
*.bak

# output subfolders
__pycache__
__pycache__/
.result/
result/
.output/
output/
.log/
log/

# ignore all log files
*.log

# tests
.coverage/
.coverage 
.coveragerc
htmlcov/
.pytest_cache/

# media
media/
src/staticfiles/

# databases
# *.sqlite3

# flask
.flaskenv

# app tokens
tokens.yaml

# Sphinx
/docs/_build/
*.rst
!index.rst
!introduction.rst
!installation.rst
!quickstart.rst
!user_guide.rst
!technical_doc.rst
!deployement.rst